{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
{% if message is defined %}
<p>{{ message }}</p>
{% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr style="font-weight: bold;">
                <td colspan="4" style="text-align:left; text-decoration:bold">Balance</td>
                <td>{{ totalValue }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.total }}</td>
                </tr>
            {% endfor %}
            <tr style="font-weight: bold;">
                <td colspan = "4" style="text-align:left; text-decoration:bold">Cash</td>
                <td>{{ balance }}</td>
            </tr>

        </tbody>
    </table>
{% endif %}
{% endblock %}